/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2710","brcm,bcm2709","brcm,bcm2837","brcm,bcm2836";

    fragment@0 {
        target = <&gpio>;
        __overlay__ {
            pwm_pins: pwm_pins {
                brcm,pins = <12>;
                brcm,function = <0>;
            };
        };
    };

    fragment@1 {
      target = <&pwm>;
      __overlay__ {
        status = "disabled";
      };
    };

    fragment@2 {
      target-path = "/";
      __overlay__ {
        #address-cells = <0x1>;
        #size-cells = <0x1>;

        neopixel@0x3F000000 {
          compatible = "bcm2835-neopixel";

          #address-cells = <0x1>;
          #size-cells = <0x1>;
	  reg = <0x3F20C000 0x100 /*0: PWM BASE ADDRESS*/
                 0x3F1010a0 0x08>;  /*1: PWMCTL BASE ADDRESS*/
          reg-names = "neopixel-pwm","neopixel-pwmctl-cm";

          pinctrl-names = "default";
          pinctrl-0 = <&pwm0_gpio12>;

          dmas = <&dma 5>;
          dma-names = "neopixel-pwm-dma";

          num-leds = <16>;
        };
      };
    };
};
