/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2710","brcm,bcm2709";

    fragment@0 {
      target-path = "/";
      __overlay__ {
        #address-cells = <0x1>;
        #size-cells = <0x1>;

        neopixel@0x3F000000 {
          compatible = "bcm2835-neopixel";
          #address-cells = <0x1>;
          #size-cells = <0x1>;
	  reg = <0x3F20C000 0x28 /*0: PWM BASE ADDRESS*/
                 0x3F007000 0x100>; /*1: DMA (0) BASE ADDRESS*/
          reg-names = "pwm","dma";
          num-leds = <16>;
        };
      };
    };
};
